parameters:
    level: 9
    paths:
        - src
        - tests
    ignoreErrors:
        - identifier: trait.unused
        - identifier: argument.type
          path: tests/Model/FoxPostShipmentTraitTest.php
